<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "base.html" %} 
    {% block content %}    
    <h1>Edit Category</h1>

    <!-- Display flashed messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<!-- Edit Category form -->
<form id="editCategoryForm" method="POST" action="{{ url_for('main.edit_category', category_id=category.id) }}">
    {{ form.hidden_tag() }}
    <input type="hidden" id="editCategoryId" name="categoryId" value="{{ category.id }}">
    <p>
        {{ form.name.label }}<br>
        <input type="text" id="editCategoryName" name="categoryName" value="{{ form.name.data }}" size="32">
    </p>
    <p>
        {{ form.description.label }}<br>
        <textarea id="editCategoryDescription" name="categoryDescription" rows="4">{{ form.description.data }}</textarea>
    </p>
    <p>
        {{ form.color.label }}<br>
        <input type="color" id="editCategoryColor" name="categoryColor" value="{{ form.color.data }}">
    </p>
    <p><button type="submit" class="btn">Save Changes</button></p>
</form>


    <a href="{{ url_for('main.categories') }}">Back to Categories</a>
    {% endblock %}
</body>
</html>
